# dependencies
node_modules 
.cache
dist
__pycache__
.h5

# folders
*/public/upload/*
bkp
dist
augmented_imgs
models_tfjs

# images
02_train/training_data/augmented_imgs

#logs
npm-debug.log*
*.log
logs

# yarn
.yarn-integrity
yarn.lock
yarn-debug.log*
yarn-error.log*
npm-debug.log*
.yalc

# misc
.DS_Store
*.pyc
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
todo.txt
.ipy*
02_train/images_normalized.data-00000-of-00001
02_train/images_normalized.index