{
    "presets": [
      [
        "env",
        {
          "esmodules": false,
          "targets": {
            "browsers": [
              "> 5%"
            ]
          }
        }
      ]
    ],
    "plugins": [
      "transform-runtime"
    ]
}